<!DOCTYPE html>

<html lang='ru'>
  <head>
  <meta charset='utf8'>
<title>Best Hack'22 || Авторизация</title>
<link rel="icon" href="../static/img/main_favicon.png">
<link rel='stylesheet' href='../static/css/login.css'>
</head>

<body>
<div class='main'>
  <h1>Авторизация</h1>
<form method='post' action='login'>
<div class='auth'>
<input type='text' required>
<span></span>
<label>Ваш логин</label>
  </div>

  <div class='auth'>
<input type='password' required>
<span></span>
<label>Ваш пароль</label>
    </div>
<input type='submit' value='Вход'>
<div class='reg'>
  Впервые? <a href='signup'>Зарегистрироваться</a><br><br>
  <span>Команда Удальцы | Best Hack'22 </span>
</div>
</form>
</div>




</body>
